body{
    background-color: #CD93F9;    ;
}

a{
    color: black;
}
p{
    font-family: sans-serif;
    font-size: 24px;
    color: black;
}



header{
    text-align: center;
    font-size: 29px;
    background-color:#f993d2;
    height: 120px;
    width: 100%;
}
body{
    font-size: 15px;
    padding: 10px;
}

nav{
    background-color: rgb(255, 105, 130);
}
nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f91;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
nav a :hover{
    background-color: #ff9671;
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);

}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ff6f91;
    margin: 10px 0;
}
nav li{
    display: inline;
}
nav ul li{
    display: inline;
    width: 200px;
    height: 30px;
    margin:10px;
    padding: 5px;
}
div{
    display: grid;
}

footer{
  
    color: white;
    text-align: center;
    padding: 0,1px;
    margin-top: 0,1px;
}
main{
    padding: 50px;
    font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
    
h1,h2,h3{
 font-family: 'Luckiest Guy', cursive;
 color: #b30059;
 text-shadow: 2px 2px 4px #00000055;
}
body,p,li,a{
 font-family: 'Poppins', sans-serif;
 
}